<tr>
  <td>
    <div class="round">
      <%= check_box_tag "item_ids[]", item.id, nil, id: "checkbox#{item_counter}" %>
      <label for="checkbox<%= item_counter %>"></label>
    </div></td>
    <td><%= item.name %></td>
  <td class="text-right"><%= distance_of_time_in_words(item.created_at, Time.now + 7.days) %></td>
</tr>
