// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-item {
  background-color: #F5F5F5;
  padding: 15px;
}

.table-head {
  background-color: #F5F5F5;
}
